{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add Course {% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1>{{ course.title }}</h1> <hr style="border: 3px solid #008080;">
        <h5><strong>Course ID: </strong>{{ course.course_id }}</h5>
        <p>
            <strong>Syllabus:</strong>
            <br>
            {{ course.syllabus|linebreaks }}
        </p>
        <a href="{% url 'course_list' %}" class="btn btn-secondary">Back to Course List</a>
        <a href="{% url 'delete_course' course.id %}" class="btn btn-secondary">Delete Course</a>

    </div>
{% endblock %}
