{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Add Course {% endblock %}

{% block content %}

    <div class="container mt-5">
        <h1>{{ course.title }}</h1>
        <hr style="border: 3px solid #008080;">
        <h5><strong>Course ID: </strong>{{ course.course_id }}</h5>
        <p>
            <strong>Syllabus:</strong>
            <br>
            {{ course.syllabus|linebreaks }}
            {% if enrolled %}
            <hr>
            <p><strong> The classes will be starting soon !</strong></p>
            {% endif %}
        </p>
        <a href="{% url 'student_course_list' %}" class="btn btn-secondary">Back to Course List</a>
        {% if enrolled %}
            <span class="btn btn-success">Already Enrolled</span>
        {% else %}
            <a href="{% url 'enroll_in_course' course.id %}" class="btn btn-secondary">Enroll Now</a>
        {% endif %}
    </div>
{% endblock %}
