{% extends 'base.html' %}
{% load static %}
{% block title %}detailed notes{% endblock %}
{% block content %}

    <div class="container">
        <div class="content-section p-0 mt-5">
            <h2 align="center">{{ notes.title }}</h2>
            <hr style="border: 3px solid #008080;">
            <div style="margin-left: 20px;">
                <p style="max-width: 1000px; overflow-wrap: break-word;  white-space: normal; ">
                    {{ notes.Desc|linebreaks }}
                </p>
            </div>
        </div>
    </div>



{% endblock content %}