
 {% load static %}
 {% load mathfilters%}
<head>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title> Delete Page </title>
    </head>


{% load static %}
<body style="background-image: url({% static 'n.jpg' %}); background-repeat: no-repeat;background-size: cover;">
    <header style="background-color: #880015;z-index:100;width: 100%;font-size: 26px;height: 15vh;top:0; position: fixed;color:#FFFE91">
         <h1 align="center">
             <img  src=" {% static 'cal1.png' %}" />
                The Calorie Bowl
             <h5 align="center">
                 <a href="{% url 'home' %}" style="color: #FFFE91;">Home</a>
                 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 <a href="{% url 'logout_view'  %}" style="color: #FFFE91;">Logout</a>
             </h5>
        </h1>
    </header>

    <div class="container" style="padding-top: 180px; padding-bottom:80px; ></div>
    <div class="row m-15">
        <div class="col-md-15">
            <form method="POST">
                {% csrf_token %}
                <h2 style="text-align:center">Are you sure you want to delete this item? <br><br>
                    <button type="submit" class="btn btn-danger" style="background-color: #880015">Delete</button></h2>

            </form>
        </div>
    </div>
    </div>


    <footer style="background-color: #880015; bottom: 0; height:6%; width: 100%;position:fixed; left : 0;color:#FFFE91; text-align: center; ">
         &copy; 2024 Healthy Eating. All Rights Reserved.
    </footer>


</body>
</html>
