{% extends "portifolio/base.html" %}

{% block title %}Educational Qualification{% endblock %}
{% block heading %}Educational Qualification {% endblock %}

{% block content %}
<section>
    <h2> Academics </h2>
    <h4>
     <ul>
         <li> MCA - Amrita school of Engineering<br><br>
             CGPA:9.4<br><br> </li>
         <li> BSc Computer Science : Amrita School of Arts and Sciences<br><br>
             CGPA : 7.8<br><br></li>
         <li> Higher Secondary: St. Josephs School <br><br>
             Marks : 78%<br><br></li>
         <li> SSLC : Vidya di Raja School <br><br>
             Marks : 89%<br><br></li>
        </ul>
        <h2>Skills</h2>
        <h4>
            Languages : c,c++,python, java<br><br>
            Technologies,Protocols and applications: NVMe Protocol, pycharm,Django,Flask,pycham, visual studio,bitbucket.
        </h4>
    </h4>
</section>
{% endblock %}