{% extends "portifolio/base.html" %}

{% block title %}Experience{% endblock %}
{% block heading %}Experience {% endblock %}

{% block content %}
<section>
    <h2>I have 4 years of IT experience and 2 years of teaching experience.</h2>
    <br>
    <h4>
     <ol>
         <li>Software Engineer : HCL Technologies<br><br>
             Role: Firmware Developer<br><br>
             Responsibilites : working on client issues(jiras) mainly on NVMe , adding new features, debugging, klockwork.<br><br>
             About Project : The project was on SSD firmware development.<br>
             <br><br>
         </li>
         <li>Teacher : SDV school<br><br>
             Role: Computer Science Teacher<br><br>
             Responsibilites : making lesson plans,preparing note, preparing exam questions, preparing syllabus, handling labs.
             <br><br>
         </li>
        </ol>
    </h4>
</section>
{% endblock %}