{% extends "portifolio/base.html" %}

{% block title %}About me{% endblock %}
{% block heading %}About me {% endblock %}

{% block content %}
<section>
    <h2>About Me</h2>
    <h4>
        <ul>
            <li> Languages : Konkani,Malayalam,English,Hindi,Tamil<br><br> </li>
             <li>   Hobbies   : crafts, quilling, arts<br><br></li>
             <li>    Contact   : lakshmipriyap@gmail.com <br><br></li>
             <li>    ph no     : 1234567890<br><br></li>
             <li>    Address   : ABC, Street no. A, City XYZ, State- 123456<br><br></li>
             <li>    linkedin  : lakshmi@linkenin<br><br></li>
        </ul>
    </h4>
</section>
{% endblock %}