{% extends "portifolio/base.html" %}

{% block title %}Home {% endblock %}
{% block heading %}My Portfolio {% endblock %}
{% block content %}
<section>
    <h2 style="font-family:lucida handwriting">Hello Every one.....</h2>
    <h4> <br><br>
        I am Lakshmi Priya, and this is my portfolio website. <br><br>
        I hails from Kerala, India. I am a Computer Science graduate.<br><br>
        You can know more about me , like my educational qualification, experience, projects and my interests in this website.

    </h4>
</section>
{% endblock %}