{% extends "portifolio/base.html" %}

{% block title %}Projects{% endblock %}
{% block heading %}Projects {% endblock %}

{% block content %}
<section>
    <h2>Below are some of the projects I have done </h2>
    <h4>
        <ul>
            <li> Youtube Downloader and Blog using Django and python<br><br> </li>
            <li> Portifolio using flask<br><br></li>
            <li> Virtual physics simulations system in HAPTICS<br><br></li>
            <li> Students Database Management system - python<br><br></li>
        </ul>
    </h4>

    </h4>
</section>
{% endblock %}