{% extends 'base.html'%}
{% block title %} about {% endblock %}

{% block content %}
    <h1>About ABC Hospital </h1>
    <hr>
        <h4 style="font-family:'Courier New';text-align:left; background-color:#004d99; color:#fff" >About Us </h4>
            <p  style="text-align:left;">ABC Hospital has evolved as leading medical and healthcare institue with modern facilites and equipments in XYZ state. For over two decades, our devoted team of highly skilled doctors has paved the way for exceptional medical care.With expert doctors and specialist in various departments, we have made our mark in the medical industry. We are committed to our patients wellbeing, good health and happiness.
            </p> <br>
        <h4 style="font-family:'Courier New';text-align:left; background-color:#004d99; color:#fff" >Our Vision </h4>
            <p  style="text-align:left;">Our vision is to provide high quality patient centric healthcare service.
            </p> <br>
        <h4 style="font-family:'Courier New';text-align:left; background-color:#004d99; color:#fff" >Our Mission </h4>
            <p  style="text-align:left;">Our mission is to deliver timely, cost efficient , patient friendly , quality services with global standards.
            </p>
{% endblock %}