{% extends 'base.html'%}
{% block title %} contact {% endblock %}


{% block content %}
    <h1>Get in Touch With Us / Contact Us </h1>
    <hr>
        <h4 style="font-family:'Courier New';text-align:left; background-color:#004d99; color:#fff" >Write to us : </h4>
        <pre style="text-align : left">
            ABC HOSTPITAL,
            XYZ STREET,
            STATE LMN,
            PINCODE : 123456
        </pre>

        <h4 style="font-family:'Courier New';text-align:left; background-color:#004d99; color:#fff" >Email us @ : </h4>
        <pre style="text-align : left">
            support@abchospitals.com
        </pre>

        <h4 style="font-family:'Courier New';text-align:left; background-color:#004d99; color:#fff" >Reach us at : </h4>
        <pre style="text-align : left">
            Phone no : 1234-98876
            Emergency contact no :1234-567890
            Fax : +91 - 123 - 4567822
        </pre>


{% endblock %}