{% extends "base.html" %}

{% block title %}Academics{% endblock %}

{% block content%}
<section>
    <h2> I am an MCA graduate and I m currently working as an software Engineer.
    </h2>
</section>
<section>
    <h2>Academic Qualifications</h2>
    <ul>
        <li><h3>MCA (2010 - 2013)</h3> <hr>
            Studied at: Amrita Unversity
        <br>
             Grades :9.5
        </li>
        <li><h3>BSc. CS (2007 - 2010)</h3> <hr>
            Studied at: Amrita Unversity
        <br>
             Grades :8.5
        </li>
        <li><h3>Higher Secondary</h3> <hr>
            Studied at: St. Josephs
        <br>
             Grades :7.5
        </li>
        <li><h3>Secondary </h3> <hr>
            Studied at: Vidyadi raja
        <br>
             Grades :8.5
        </li>
    </ul>
{% endblock %}