{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content%}
<section>
    <h2>About Me</h2>
    <p><h3>Hello, <br>
        This is Abc. I hails from place "xyz" and I am an Engineer by profession. <br>
        You can know more about me here.<br>
    </h3>
    </p>
</section>
<section>
    <h2>Personal Information</h2>
    <ul>
        <li>Contact: 123456789</li>
        <li>Email: abc@gmail.com</li>
        <li>Languages known: Hindi, English</li>
        <li>Hobbies: dancing, singing</li>
    </ul>
{% endblock %}