{% extends "base.html" %}

{% block title %}Skills{% endblock %}

{% block content%}
    <h2>Technical Skills</h2>
    <ul>
        <li>
            <h3>Programming and scripting Languages</h3> <hr>
            c, c++ , python, java, html, ajax, javascript
        </li>
        <li>
            <h3>Technologies and frameworks</h3> <hr>
            Django, FAST API, Flask, pycharm, Hapitcs,Restful api, AWS, visual studio
        </li>
        <li>
            <h3>Projects done</h3> <hr>
            Doctors booking system <br>
            calorie app <br>
            visual haptics simulation <br>
            automatic night lamp<br>
            file spillter <br>
        </li>
    </ul>
{% endblock %}